@import url("bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styling */
.header {
  background: url("../images/backgrounds/h_img.jpg") no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  position: relative;
}

/* Heading styling */

h1 {
  text-align: center;
  margin-top: 2rem;
}
h1 span {
  display: block;
  font-size: 3rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

.mouse-click {
  position: absolute;
  top: 93vh;
  left: 50%;
}
.about {
  height: 40vh;
}
