@import url("bootstrap.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styling */
.header {
  background: url("../images/backgrounds/h_img.jpg") no-repeat center
    center/cover;
  height: 100vh;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  position: relative;
}

/* Heading styling */

h1 {
  text-align: center;
  margin-top: 2rem;
}
h1 span {
  display: block;
  font-size: 3rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1rem;
  text-align: center;
}

.mouse-click {
  position: absolute;
  top: 93vh;
  left: 50%;
  cursor: pointer;
  animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5); /*Apply animation*/
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* Mouse click animation */
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -50px, 0);
  }
}

/* About section */
.about {
  height: 40vh;
}

/* Services section */
.services {
  background: url("../images/backgrounds/s_image.jpg") center center/cover;
  height: 60vh;
  color: #fff;
}

/* Contact styling */
.contact {
  background: url("../images/backgrounds/c_image.jpg");
  color: #fff;
}

form {
  width: 70%;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
}

#inputName,
#inputEmail,
#inputMessage {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

#inputName::placeholder,
#inputEmail::placeholder,
#inputMessage::placeholder {
  color: #fff;
}

textarea {
  margin-top: 2em;
}
